.*.swp
/intern/static/
/static/
/intern/application/cache/
/intern/application/logs/
/assets/.sass-cache/
/intern/assets/.sass-cache/
/.idea/
/.idea/*
*.scssc
.htaccess
/conf/*.php
*.log
.htpasswd
/application-archive/
