#header {
  height: $headerHeight;
  width: 100%;
  min-width: 960px;

  @include append-bottom(50px);

  @include box-shadow(#000000 0px 0px 12px);
  @include background(image-url("header/bg.png"));
  font-family: Tahoma, Geneva, sans-serif;

  .inner {
    @include container;
    overflow: visible;
  }

  #logo {
    @include column(4);

    font-family: "YanoneKaffeesatz-Bold";
    font-size: 42px;
    padding: 5px 0px;
    @include background-image(linear-gradient(#990000, #641B1B));

    $radius: 10px;
    @include border-bottom-left-radius($radius);
    @include border-bottom-right-radius($radius);

    a {
      text-align: center;
      display: block;
      text-decoration: none;
      color: white;
      @include text-shadow(#000000 1px 1px 4px);
    }
  }

  #links {
    $submenuItemHeight: 20px;
    $menuItemFontSize: 16px;
    $submenuItemFontSize: 13px;

    @include prepend(2);
    @include column(18, true);

    font-size: $menuItemFontSize;

    overflow: visible;

    .menu li {
      @include column(2);
      position: relative;

      &:hover {
        a {
          @include text-shadow(#fff 0px 0px 5px);
        }
        .submenu {
          display: block;
        }
      }

      a {
        height: $headerHeight - 20px;
        padding: 10px 0;
        display: block;
        color: white;
        @include text-shadow(#fff 0px 0px 1px);

        text-decoration: none;
      }

      .submenu {
        $padding: 10px;

        display:none;

        z-index: 100;
        position: absolute;
        top: $headerHeight;
        left: -$padding;
        width: span(3);

        background-color: transparentize(#000, 0.2);
        @include border-bottom-radius(7px);
        @include single-box-shadow;

        font-size: $submenuItemFontSize;
        margin-bottom: 10px;
        padding-bottom: 8px;

        li {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;

          a {
            margin: 0;
            padding: $padding;

            color: white;
            @include text-shadow(#fff 0px 0px 1px);

            height: $submenuItemHeight;

            .text {
              display: inline-block;
              margin: 3px 0 0 0;
            }

            &:hover {
              background-color: transparentize(lighten(#000, 35), 0.1);
            }
          }
        }
      }

    }
  }
}
