#home {
  $content_width: 960px;
  $spacing_t_b: 50px;
  $top_content_height: 340px;
  $section_height: 260px;
  $col_width: 320px;
  $left_section_text_padding_right: 30px;

  @mixin init_width {
    width: $content_width;
    margin: auto;
  }
  
  @mixin init_section {
    @include init_width;
    padding: $spacing_t_b 1px;
    min-height: $section_height;
  }

  @mixin shadow {
    @include box-shadow(#000000 0px 0px 10px);
  }

  .wrapper {
    width: $content_width;
    margin: auto;
  }

  #nav {
    width: 100%;
    height: 32px;
    z-index: 10000;
    position: fixed;

    background-color: transparentize(#000000, 0.4);
    color: white;
    @include text-shadow(#000 0px 0px 5px);
    @include shadow;

    ul {
      float: right;

      li {
        padding: 5px 0;
        display: inline-block;
        font-family: "YanoneKaffeesatz-Light";
        font-size: 22px;

        a {
          border: {
            right: 0px solid #000000;
          };
          padding-left: 25px;
          color: #DCDCDC;
          text-decoration: none;

          &:hover {
            color: white;
            @include text-shadow(#dfdfdf 0px 0px 3px);
          }
        }

        &:last-child {
          a {
            border: {
              right: 0px;
            };
          }
        }
      }
    }
  }

  #top {
    background-image: image-url("home/bg_top.png");
    @include shadow;
    height: 760px;

    #features {
      margin-top: 20px;
      height: 200px;
      background-color: transparentize(#000000, 0.3);
      color: white;
      @include shadow;
      text-align: center;
      padding: 20px;

      .section {
        position: relative;
        width: $col_width - 2px;
        height: 100%;
        display: inline-block;

        .text {
          font-family: "YanoneKaffeesatz-Thin";
          font-size: 24px;
          margin-top: 20px;
        }

        .image {
          width: 100%;
          height: 150px;

          img {
            max-height: 100%;
            max-width: 100%;
            border: {
              color: #e3e3e3;
              width: 3px;
              style: solid;
            };
            @include border-radius(5px);
          }
        }

        &:hover {
          $shadow_color: #dfdfdf;
          .text {
            //@include text-shadow($shadow_color 0px 0px 10px);
          }
          .image img {
            @include box-shadow($shadow_color 0px 0px 10px);
          }
        }
      }
    }

    #top_content {
      @include init_width;
      height: $top_content_height;
      padding: $spacing_t_b 0;

      #logo {
        width: $col_width;
        margin-top: -7px;

        font-family: "YanoneKaffeesatz-Bold";
        font-size: 120px;
        font-variant:small-caps;

        color: #f8f8f8;
        float: left;
        @include text-shadow(#111 0px 0px 22px);
      }

      #slideshow{
        float: right;
        background-color: #e3e3e3;
        border:1px solid #FFFFFF;
        height: $top_content_height;
        position:relative;
        width: $col_width*2 - 2px;
        @include border-radius(5px);

        -moz-box-shadow:0 0 22px #111;
        -webkit-box-shadow:0 0 22px #111;
        box-shadow:0 0 22px #111;

        img {
          max-width: 620px;
          max-height: 320px;
        }

        ul {
          height: 320px;
          left: 10px;
          list-style:none outside none;
          overflow:hidden;
          position:absolute;
          top:10px;
          width:620px;

          li {
            position:absolute;
            display:none;
            z-index:10;
            width: 100%;
            text-align: center;

            &:first-child{
              display:block;
              z-index:1000;
            }
          }
        }

        .slideActive{
          z-index:1000;
        }

        canvas{
          display:none;
          position:absolute;
          text-align: center;
          z-index:100;
        }

        .arrow{
          height:86px;
          width:60px;
          position:absolute;
          background-image: image-url("home/slideshow/arrows.png");
          background-repeat: no-repeat;
          top:50%;
          margin-top:-43px;
          cursor:pointer;
          z-index:5000;
        }

        .previous{ background-position:left top;left:0;}
        .previous:hover{ background-position:left bottom;}

        .next{ background-position:right top;right:0;}
        .next:hover{ background-position:right bottom;}
      }

    }
  }

  #main {
    .content {
      padding-bottom: 50px;

      border-bottom: {
        color: #B3B3B3;
        width: 1px;
        style: solid;
      };

      &.bg {
        @include box-shadow(#b0b0b0 0px -1px 10px);
        background-image: image-url("home/bg_section.png");
      }

      .wrapper {
        @include init_section;
      }

      .section_label {
        font: {
          family: "Lato-Black";
          size: 44px;
        };
        width: $col_width - $left_section_text_padding_right;
        float: left;
        text-align: right;
        color: #333333;
        text-transform: uppercase;
        padding-right: $left_section_text_padding_right;
        padding-bottom: 40px;
        padding-top: 15px;

        background-image: image-url("home/hr.png");
        background-repeat: no-repeat;
        background-position: 170px bottom;
      }

      .section_content {
        float: left;
        @include rounded_box(30px, 30px);
        width: $col_width*2 - 60px;
        line-height: 1.3;

        p {
          text-shadow: 1px 1px #FFFFFF;
          text-indent: 15px;
          font-size: 14px;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0px;
          }
        }

        table {
          border-collapse: separate;
          border-spacing: 5px;

          tr:hover {
            .event_hover {
              background-image: image-url("home/event_hover.png");
              background-repeat: no-repeat;
              background-position: left 5px;
            }
            cursor: pointer;
          }
        }


        .event_hover {
          width: 15px;
          height: 20px;
        }

        .event_time {
          width: 115px;
          font: {
            family: "Lato-Light";
            size: 14px;
          };
        }

        .event_title {
          font: {
            family: "Lato-Regular";
            size: 16px;
          };
        }
      }
    }
  }

  /*#footer {*/
    /*margin-top: 50px;*/
  /*}*/

  .container_button_top {
    margin-top: 60px;
    width: 100%;
    text-align: center;

    a {
      /*height: 40px;*/
      $img_size: 36px;

      width: $img_size;
      display: block;
      margin: auto;
      padding-top: $img_size;
      text-decoration: none;
      color: #333;

      background-image: image-url('home/arrow.png');
      background-size: $img_size;
      background-repeat: no-repeat;
      background-position: center top;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .clear {
    clear: both;
  }
}


