#user_directory_listing {
  table {
    width: 100%;
    border-collapse: collapse;

    td.empty {
      width: 50%;
    }

    ul {
      padding: 15px;
      margin: 10px;
      min-height: 125px;
      position: relative;

      @include single-box-shadow;
      @include border-radius(5px);
      @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

      li {
        padding: 3px;
        line-height: 1.1em;

        &.name {
          font-family: "Lato-Black";
          font-size: 120%;
        }
        &.email {
          font-family: "Lato-Light";
          font-size: 110%;

          a {
            text-decoration: none;
            color: inherit;
          }
        }
        &.photo {
          float: left;
          margin-right: 25px;

          img {
            height: 120px;
          }
        }
        &.staff_role {
          position: absolute;
          top: 10px;
          right: 15px;
          font-family: "Lato-Black";
          font-size: 175%;
          height: 32px;
          padding-right: 40px;
          background:{
            image: image-url("people/heart.png");
            repeat: no-repeat;
            position: right 3px;
          };

          &.small_text {
            font-size: 110%;
            background-position: right 0px;
          }
        }
      }
    }
  }
}
