#welcome {

  #logo {
    height: 37%;
    padding-top: 5%;
    text-align: center;
    @include background-image(
      linear-gradient(#990000, #3F0F10)
    );
    color: white;
    @include text-shadow(#000000 5px 5px 25px);
    font-size: 95px;
    font-variant:small-caps;
    font-family: "Freshman";
    overflow: hidden;
  }

  #photos {
    text-align: center;
    height: 60px;
    @include background-image(
      linear-gradient(#222222, #000000)
    );
    overflow: hidden;

    img {
      height: 100%;
      margin: 0 15px;
    }
  }

  #login {
    text-align: center;
    margin-top: 100px;

    a {
      text-decoration: none;
      color: #333;
      font-family: "Lato-Bold";
      font-size: 30px;
      padding: 10px 20px;

      @include border-radius(5px);
      @include background-image(linear-gradient(#FFFFFF, #D4D4D4));

      border: {
        color: #999999;
        style: solid;
        width: 1px;
      };

      &:hover {
        color: #222;
        @include single-box-shadow;
      }

      &:active {
        color: black;
        border-color: #777777;
        @include background-image(linear-gradient(#B9B9B9, #E5E5E5));
      }
    }
  }

  #no_access_message {
    @include single-box-shadow;
    @include border-radius(10px);
    @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

    padding: 20px 30px;
    width: 50%;
    margin: auto;
    margin-top: 50px;

    text-align: center;

    font-family: "Lato-Bold";
    font-size: 150%;

    p {
      margin: 15px 0;
    }
  }
}
