@import "compass";

@include font-face(
  "Sansation",
  font-files("sansation/Sansation_Regular.ttf", truetype)
);
@include font-face(
  "Sansation-Light",
  font-files("sansation/Sansation_Light.ttf", truetype)
);
@include font-face(
  "Sansation-Bold",
  font-files("sansation/Sansation_Bold.ttf", truetype)
);

@include font-face(
  "Lato-Black",
  font-files("lato/Lato-Black.ttf", truetype)
);
@include font-face(
  "Lato-BlackItalic",
  font-files("lato/Lato-BlackItalic.ttf", truetype)
);
@include font-face(
  "Lato-Bold",
  font-files("lato/Lato-Bold.ttf", truetype)
);
@include font-face(
  "Lato-BoldItalic",
  font-files("lato/Lato-BoldItalic.ttf", truetype)
);
@include font-face(
  "Lato-Hairline",
  font-files("lato/Lato-Hairline.ttf", truetype)
);
@include font-face(
  "Lato-HairlineItalic",
  font-files("lato/Lato-HairlineItalic.ttf", truetype)
);
@include font-face(
  "Lato-Italic",
  font-files("lato/Lato-Italic.ttf", truetype)
);
@include font-face(
  "Lato-Light",
  font-files("lato/Lato-Light.ttf", truetype)
);
@include font-face(
  "Lato-LightItalic",
  font-files("lato/Lato-LightItalic.ttf", truetype)
);
@include font-face(
  "Lato-Regular",
  font-files("lato/Lato-Regular.ttf", truetype)
);

$sidebarBackgroundColor: #343434;
$sidebarBackgroundColor: #C5C5C5;
$sidebarWidth: 200px;
$headerHeight: 50px;
$aPaddingTop: 18px;
$imgDim: 32px;
$logoPaddingTop: 8px;

body {
  margin: 0;
  font-family: "Lato-Regular", "Lucida Grande";
  font-size: 14px;
  background-color: #e3e3e3;
}

#header {
  z-index: 100;
  height: $headerHeight;
  width: 100%;

  @include background-image(linear-gradient(#990000, #641B1B));
  font-family: "Sansation";

  position: fixed;
  left: 0;
  top: 0;

  #logo {
    width: $sidebarWidth - 25px;
    font-family: "Sansation-Bold";
    font-size: 36px;
    position: absolute;
    height: $headerHeight - 14px;
    left: 5px;
    padding: 2px 8px;
    margin: 4px 0;
    background-color: transparentize(#FFFFFF, 0.8);
    @include border-radius(10px);
    border: {
      style: solid;
      width: 1px;
      color: transparentize(#000000, 0.7);
    };

    a {
      text-align: center;
      height: $headerHeight - $logoPaddingTop;
      padding-top: $logoPaddingTop - 5px;
      display: block;
      text-decoration: none;
      color: white;
      @include text-shadow(rgba(black, 0.5) 1px 1px 2px);
    }
  }

  #links {
    position: absolute;
    right: 30px;
    font-size: 120%;
    z-index: 1000;

    .menu li {
      display: inline-block;
      margin-right: 5px;
      vertical-align: top;
      width: 150px;

      a {
        height: $headerHeight - $aPaddingTop;
        display: block;
        background: {
          size: $imgDim $imgDim;
          repeat: no-repeat;
          position: 15px center;
        };
        padding: $aPaddingTop 20px 0 $imgDim+25px;
        color: white;
        text-decoration: none;

        &.events_menuitem {
          background-image: image-url("common/header/calendar.png");
        }
        &.people {
          background-image: image-url("common/header/people.png");
        }

        /*&.active {*/
          /*background-color: transparentize(#FFFFFF, 0.8);*/
          /*background-position: 5px 10px;*/
          /*padding: $aPaddingTop 25px 5px $imgDim+10px;*/
          /*border: {*/
            /*style: solid;*/
            /*width: 0 1px 1px 1px;*/
            /*color: transparentize(#000000, 0.8);*/
          /*};*/
        /*}*/
      }

      .submenu {
        display:none;

        font-size: 90%;
        margin-bottom: 10px;

        li {
          display: list-item;

          a {
            margin: 0;
            padding: 14px 0 5px (16px+8px+25px);

            color: black;
            height: 20px;

            background: {
              size: 16px;
              repeat: no-repeat;
              position: 15px center;
            };

            &.event_list {
              background-image:
                image-url("common/header/event/event_list.png");
            }
            &.event_create {
              background-image:
                image-url("common/header/event/event_create.png");
            }
            &.calendar {
              background-image:
                image-url("common/header/event/calendar.png");
            }
          }

          &.hover {
            @include background-image(
              linear-gradient(#8F8F8F, #575757)
            );
            background-size: 100% 100%;
            background-position: 0 0;

            a {
              color: white;

              &.event_list {
                background-image:
                  image-url("common/header/event/event_list_hover.png");
              }
              &.event_create {
                background-image:
                  image-url("common/header/event/event_create_hover.png");
              }
              &.calendar {
                background-image:
                  image-url("common/header/event/calendar_hover.png");
              }
            } 
          }
        }
      }

      &.events.hover {
        $marginTop: 4px;

        @include background-image(linear-gradient(#C5C5C5, #B9B9B9));
        @include border-radius(10px);
        @include single-box-shadow;

        margin-top: $marginTop;

        .events_menuitem {
          margin-top: -$marginTop;
          color: black;
          border-bottom:{
            style: dashed;
            color: #A5A5A5;
            width: 1px;
          };
        }

      }
    }
  }
}

#sidebar {
  height: 100%;
  width: $sidebarWidth;
  position: fixed;
  left: 0;
  top: $headerHeight;
  /*float: left;*/

  background: {
    color: $sidebarBackgroundColor;
  };
  border-right: {
    style: solid;
    color: #B3B3B3;
    width: 2px;
  };

  .sidebar-box, #user_search {
    margin: 3%;
    padding: 2%;
    width: 100% - 3%*2 - 2%*2;
  }

  .sidebar-box {
    background: transparentize(#000000, 0.9);
    border: {
      style: solid;
      color: transparentize(#000000, 0.8);
      width: 1px;
    };
    @include border-radius(5px);
  }

  #user_search {
    font-size: 110%;
    height: 32px;
    width: 94%;
  }

  #navigation {
    /*$navItemHeight: 45px;*/
    $navItemFontSize: 115%;
    /*$navIconDim: 18px;*/

  /*button {*/
    /*width: 180px;*/
    /*padding: 2px;*/
    /*margin: 10px 10px 0 10px;*/
  /*}*/

    li {
      /*height: $navItemHeight;*/

      a {
        /*@include border-radius(0px);*/
        /*@include background-image(linear-gradient(#C4C4C4, #818181));*/
        /*text-decoration: none;*/
        /*color: black;*/
        font: {
          family: "Lato-Bold";
          size: $navItemFontSize;
        };
        text-align: left;
        /*border-style: none;*/
        width: 92%;
        padding: 2%;
        margin: 2%;
        /*display: block;*/

        /*height: 100%;*/
        /*width: 100%;*/

        /*&.active {*/
          /*@include background-image(linear-gradient(#393939, #5B5B5B));*/
          /*color: white;*/
        /*}*/
        /*&:hover {*/
          /*@include background-image(linear-gradient(#8F8F8F, #575757));*/
          /*color: white;*/
        /*}*/

        /*span {*/
          /*display: block;*/
          /*$paddingTop: ($navItemHeight - $navItemFontSize)/2;*/
          /*height: $navItemHeight - $paddingTop;*/
          /*margin-left: 8px;*/
          /*padding-top: $paddingTop;*/
          /*padding-left: 8px;*/
        /*}*/


        /*background: {*/
          /*size: $navIconDim $navIconDim;*/
          /*repeat: no-repeat;*/
          /*position: center left;*/
        /*};*/

        /*&.calendar {*/
          /*background-image: image-url("event/calendar.png");*/
        /*}*/
        /*&.event_list {*/
          /*background-image: image-url("event/event_list.png");*/
          /*background-size: ($navIconDim - 3px) ($navIconDim - 3px);*/
        /*}*/
        /*&.event_create {*/
          /*background-image: image-url("event/event_create.png");*/
          /*background-size: ($navIconDim - 2px) ($navIconDim - 2px);*/
        /*}*/
      }
    }
  }

  button {
    $marginLR: 2%;
    width: 100% - $marginLR*2;
    margin: 3% $marginLR;
  }
}

#content {
  margin-left: $sidebarWidth;
  margin-top: $headerHeight;
  padding: 20px;

  &.nosidebar {
    margin-left: 0px;
  }
  &.nopadding {
    padding: 0px;
  }

  #user_directory_listing {
    table {
      width: 100%;
      border-collapse: collapse;

      td.empty {
        width: 50%;
      }

      ul {
        padding: 15px;
        margin: 10px;
        min-height: 85px;

        @include single-box-shadow;
        @include border-radius(5px);
        @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

        li {
          padding: 3px;
          height: 100%;

          &.name {
            font-family: "Lato-Black";
            font-size: 120%;
          }
          &.email {
            font-family: "Lato-Light";
            margin-left: 20px;
            font-size: 110%;ui-state-active

            a {
              text-decoration: none;
              color: inherit;
            }
          }
          &.room {
            margin-left: 20px;
          }
          &.photo {
            float: left;
            margin-right: 20px;

            img {
              height: 80px;
            }
          }
        }
      }
    }
  }

  #gcal {
    width: 100%;
    height: 90%;
  }

  #event_create_fields {
    @include single-box-shadow;
    @include border-radius(10px);
    @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

    padding: 3%;
    margin: 2%;
    position: relative;
    padding-bottom: 60px;

    .field {
      margin-bottom: 3%;  

      label {
        font: {
          size: 120%;
          family: "Lato-Bold";
        };
      }

      input[type='text'], textarea {
        height: 32px;
        font-size: 14px;
        width: 50%;
        margin: 1%;
      }

      textarea {
        height: 100px;
      }
    }

    fieldset {
      padding: 20px;
      margin: 20px 0;
      width: 55%;
      position: relative;

      .field {
        input[type='text'] {
          width: 90%;
        }
      }

      .button_remove {
        $dim: 32px;
        position: absolute;
        right: 3px;
        top: 10px;
        width: $dim;
        height: $dim;
      }
    }

    input[type='submit'] {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  #event_list {
    .item {
      padding: 20px;
      margin-bottom: 30px;
      @include border-radius(10px);
      @include single-box-shadow;
      @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

      h1 {
        font-family: "Lato-Black";
        font-size: 120%;
        margin-bottom: 15px;
      }

      .time {
        margin-bottom: 15px;
        font-size: 110%;
        font-family: "Lato-Bold";
      }
    }
  }
}

