@import "compass";

@include font-face(
  "Sansation",
  font-files("sansation/Sansation_Regular.ttf", truetype)
);
@include font-face(
  "Sansation-Light",
  font-files("sansation/Sansation_Light.ttf", truetype)
);
@include font-face(
  "Sansation-Bold",
  font-files("sansation/Sansation_Bold.ttf", truetype)
);

@include font-face(
  "Lato-Black",
  font-files("lato/Lato-Black.ttf", truetype)
);
@include font-face(
  "Lato-BlackItalic",
  font-files("lato/Lato-BlackItalic.ttf", truetype)
);
@include font-face(
  "Lato-Bold",
  font-files("lato/Lato-Bold.ttf", truetype)
);
@include font-face(
  "Lato-BoldItalic",
  font-files("lato/Lato-BoldItalic.ttf", truetype)
);
@include font-face(
  "Lato-Hairline",
  font-files("lato/Lato-Hairline.ttf", truetype)
);
@include font-face(
  "Lato-HairlineItalic",
  font-files("lato/Lato-HairlineItalic.ttf", truetype)
);
@include font-face(
  "Lato-Italic",
  font-files("lato/Lato-Italic.ttf", truetype)
);
@include font-face(
  "Lato-Light",
  font-files("lato/Lato-Light.ttf", truetype)
);
@include font-face(
  "Lato-LightItalic",
  font-files("lato/Lato-LightItalic.ttf", truetype)
);
@include font-face(
  "Lato-Regular",
  font-files("lato/Lato-Regular.ttf", truetype)
);


body {
  margin: 0;
  font-family: "Lato-Regular";
  font-size: 15px;
  overflow: hidden;
  background-color: #e3e3e3;
}


$headerHeight:60px;
$aPaddingTop: 22px;
$imgDim: 40px;
$logoPaddingTop: 14px;

#header {
  height: $headerHeight;
  width: 100%;
  @include background-image(linear-gradient(#990000, #641B1B));
  font-family: "Sansation";
  position: relative;

  #logo {
    font-family: "Sansation-Bold";
    font-size: 40px;
    position: absolute;
    height: $headerHeight;
    left: 30px;
    
    a {
      height: $headerHeight - $logoPaddingTop;
      padding-top: $logoPaddingTop;
      display: block;
      text-decoration: none;
      color: white;
    }
  }

  #links {
    /*margin: 50% 30px;*/
    right: 30px;
    font-size: 18px;
    position: absolute;
    height: $headerHeight;

    li {
      display: inline-block;
      height: $headerHeight - $aPaddingTop;

      a {
        height: 100%;
        display: block;
        background: {
          size: $imgDim $imgDim;
          repeat: no-repeat;
          position: center left;
        };
        /*margin: 20px 30px;*/
        padding: $aPaddingTop 20px 0 $imgDim+10px;
        color: white;
        text-decoration: none;

        &.calendar {
          background-image: image-url("common/header/calendar.png");
        }
        &.people {
          background-image: image-url("common/header/people.png");
        }
      }
    }
  }
}

#main {
  overflow: hidden;
}

#sidebar {
  $sidebarWidth: 200px;

  height: 100%;
  width: $sidebarWidth;
  float: left;
  background: {
    color: #C5C5C5;
  };
  border-right: {
    style: solid;
    color: #B3B3B3;
    width: 2px;
  };

  .sidebar-box {
    padding-left: 5px;
    background: transparentize(#000000, 0.9);
    border: {
      style: solid;
      color: transparentize(#000000, 0.8);
      width: 1px;
    };
    @include border-radius(5px);
    margin: 10px;
    padding: 5px;
  }

  #user_search {
    padding-left: 5px;
    font-size: 14px;
    height: 25px;
    margin: 10px;
    width: $sidebarWidth - 20px;
  }

  #navigation {
    $navItemHeight: 45px;
    $navItemFontSize: 20px;
    $navIconDim: 18px;

    li {
      height: $navItemHeight;
      @include background-image(linear-gradient(#C5C5C5, #B7B7B7));

      a {
        text-decoration: none;
        color: black;
        font: {
          family: "Lato-Bold";
          size: $navItemFontSize;
        };
        display: block;

        $paddingTop: ($navItemHeight - $navItemFontSize)/2;
        height: $navItemHeight - $paddingTop;
        margin-left: 8px;
        padding-top: $paddingTop;
        padding-left: $navIconDim + 8px;
        width: 100%;


        background: {
          size: $navIconDim $navIconDim;
          repeat: no-repeat;
          position: center left;
        };

        &.calendar {
          background-image: image-url("event/calendar.png");
        }
        &.event_list {
          background-image: image-url("event/event_list.png");
          background-size: ($navIconDim - 3px) ($navIconDim - 3px);
        }
        &.event_create {
          background-image: image-url("event/event_create.png");
          background-size: ($navIconDim - 2px) ($navIconDim - 2px);
        }
      }
    }
  }
}

#sidebar-right {
  width: 150px;
  height: 100%;
  float: right;
}

#content {
  overflow-y: scroll;
  height: 100%;

  #user_directory_listing {
    padding: 10px;

    table {
      width: 100%;
      border-collapse: collapse;

      td.empty {
        width: 50%;
      }

      ul {
        padding: 15px;
        margin: 10px;
        min-height: 85px;

        @include single-box-shadow;
        @include border-radius(5px);
        @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

        li {
          /*display: inline-block;*/
          /*margin-right: 30px;*/
          padding: 3px;
          height: 100%;

          &.name {
            font-family: "Lato-Black";
            font-size: 120%;
          }
          &.email {
            font-family: "Lato-Light";
            margin-left: 20px;
            font-size: 110%;

            a {
              text-decoration: none;
              color: inherit;
            }
          }
          &.room {
            margin-left: 20px;
          }
          &.photo {
            float: left;
            margin-right: 20px;

            img {
              height: 80px;
            }
          }
        }
      }
    }
  }

  #gcal {
    width: 100%;
    height: 100%;
  }
}

