@import "compass";

@include font-face(
  "Sansation",
  font-files("sansation/Sansation_Regular.ttf", truetype)
);
@include font-face(
  "Sansation-Light",
  font-files("sansation/Sansation_Light.ttf", truetype)
);
@include font-face(
  "Sansation-Bold",
  font-files("sansation/Sansation_Bold.ttf", truetype)
);

@include font-face(
  "Lato-Black",
  font-files("lato/Lato-Black.ttf", truetype)
);
@include font-face(
  "Lato-BlackItalic",
  font-files("lato/Lato-BlackItalic.ttf", truetype)
);
@include font-face(
  "Lato-Bold",
  font-files("lato/Lato-Bold.ttf", truetype)
);
@include font-face(
  "Lato-BoldItalic",
  font-files("lato/Lato-BoldItalic.ttf", truetype)
);
@include font-face(
  "Lato-Hairline",
  font-files("lato/Lato-Hairline.ttf", truetype)
);
@include font-face(
  "Lato-HairlineItalic",
  font-files("lato/Lato-HairlineItalic.ttf", truetype)
);
@include font-face(
  "Lato-Italic",
  font-files("lato/Lato-Italic.ttf", truetype)
);
@include font-face(
  "Lato-Light",
  font-files("lato/Lato-Light.ttf", truetype)
);
@include font-face(
  "Lato-LightItalic",
  font-files("lato/Lato-LightItalic.ttf", truetype)
);
@include font-face(
  "Lato-Regular",
  font-files("lato/Lato-Regular.ttf", truetype)
);

$sidebarBackgroundColor: #343434;
$sidebarBackgroundColor: #C5C5C5;
$sidebarWidth: 15%;
$sidebarRightWidth: 10%;
$scrollBarWidth: 0.5%;
$contentWidth: 100% - $sidebarWidth - $scrollBarWidth;
$contentSidebarRightWidth:
  100% - $sidebarWidth - $sidebarRightWidth  - $scrollBarWidth;
$headerHeight: 50px;
$aPaddingTop: 17px;
$imgDim: 32px;
$logoPaddingTop: 5px;

body {
  margin: 0;
  font-family: "Lato-Regular", "Lucida Grande";
  font-size: 14px;
  overflow: hidden;
  background-color: #e3e3e3;
  width: 100%;
  height: 100%;
}

#header {
  height: $headerHeight;
  width: 100%;
  @include background-image(linear-gradient(#990000, #641B1B));
  font-family: "Sansation";
  position: relative;

  #logo {
    font-family: "Sansation-Bold";
    font-size: 40px;
    position: absolute;
    height: $headerHeight;
    left: 30px;

    a {
      height: $headerHeight - $logoPaddingTop;
      padding-top: $logoPaddingTop;
      display: block;
      text-decoration: none;
      color: white;
    }
  }

  #links {
    position: absolute;
    right: 30px;
    font-size: 120%;
    height: $headerHeight;

    li {
      display: inline-block;
      margin-right: 5px;
      height: $headerHeight - $aPaddingTop;

      a {
        height: 100%;
        display: block;
        background: {
          size: $imgDim $imgDim;
          repeat: no-repeat;
          position: center left;
        };
        padding: $aPaddingTop 20px 0 $imgDim+10px;
        color: white;
        text-decoration: none;

        &.calendar {
          background-image: image-url("common/header/calendar.png");
        }
        &.people {
          background-image: image-url("common/header/people.png");
        }

        &.active {
          background-color: transparentize(#FFFFFF, 0.8);
          background-position: 5px 10px;
          padding: $aPaddingTop 25px 5px $imgDim+10px;
          border: {
            style: solid;
            width: 0 1px 1px 1px;
            color: transparentize(#000000, 0.8);
          };
        }
      }
    }
  }
}

#main {
  overflow: hidden;
}

#sidebar {
  height: 100%;
  width: $sidebarWidth;
  position: relative;
  float: left;

  background: {
    color: $sidebarBackgroundColor;
  };
  border-right: {
    style: solid;
    color: #B3B3B3;
    width: 2px;
  };

  .sidebar-box, #user_search {
    margin: 3%;
    padding: 2%;
    width: 100% - 3%*2 - 2%*2;
  }

  .sidebar-box {
    background: transparentize(#000000, 0.9);
    border: {
      style: solid;
      color: transparentize(#000000, 0.8);
      width: 1px;
    };
    @include border-radius(5px);
  }

  #user_search {
    font-size: 110%;
    height: 32px;
    width: 94%;
  }

  #navigation {
    /*$navItemHeight: 45px;*/
    $navItemFontSize: 115%;
    /*$navIconDim: 18px;*/

  /*button {*/
    /*width: 180px;*/
    /*padding: 2px;*/
    /*margin: 10px 10px 0 10px;*/
  /*}*/

    li {
      /*height: $navItemHeight;*/

      a {
        /*@include border-radius(0px);*/
        /*@include background-image(linear-gradient(#C4C4C4, #818181));*/
        /*text-decoration: none;*/
        /*color: black;*/
        font: {
          family: "Lato-Bold";
          size: $navItemFontSize;
        };
        text-align: left;
        /*border-style: none;*/
        width: 92%;
        padding: 2%;
        margin: 2%;
        /*display: block;*/

        /*height: 100%;*/
        /*width: 100%;*/

        /*&.active {*/
          /*@include background-image(linear-gradient(#393939, #5B5B5B));*/
          /*color: white;*/
        /*}*/
        /*&:hover {*/
          /*@include background-image(linear-gradient(#8F8F8F, #575757));*/
          /*color: white;*/
        /*}*/

        /*span {*/
          /*display: block;*/
          /*$paddingTop: ($navItemHeight - $navItemFontSize)/2;*/
          /*height: $navItemHeight - $paddingTop;*/
          /*margin-left: 8px;*/
          /*padding-top: $paddingTop;*/
          /*padding-left: 8px;*/
        /*}*/


        /*background: {*/
          /*size: $navIconDim $navIconDim;*/
          /*repeat: no-repeat;*/
          /*position: center left;*/
        /*};*/

        /*&.calendar {*/
          /*background-image: image-url("event/calendar.png");*/
        /*}*/
        /*&.event_list {*/
          /*background-image: image-url("event/event_list.png");*/
          /*background-size: ($navIconDim - 3px) ($navIconDim - 3px);*/
        /*}*/
        /*&.event_create {*/
          /*background-image: image-url("event/event_create.png");*/
          /*background-size: ($navIconDim - 2px) ($navIconDim - 2px);*/
        /*}*/
      }
    }
  }
}

#sidebar-right {
  width: $sidebarRightWidth;
  height: 100%;
  /*position: absolute;*/
  float: left;
  /*top: $headerHeight;*/
  /*right: 0;*/

  background: {
    color: $sidebarBackgroundColor;
  };
  border-left: {
    style: solid;
    color: #B3B3B3;
    width: 2px;
  };

  button {
    $marginLR: 2%;
    width: 100% - $marginLR*2;
    margin: 3% $marginLR;
  }
}

#content, #content-sidebarright {
  overflow-y: scroll;
  height: 90%;
  float: left;
}

#content {
  /*margin-left: $sidebarWidth;*/
  /*margin-right: $sidebarRightWidth + 20px;*/
  /*position: absolute;*/
  /*left: $sidebarWidth;*/
  /*left: 0;*/
  /*top: $headerHeight;*/
  

  /*padding: 20px;*/

  width: $contentWidth;

  #user_directory_listing {
    padding: 10px;

    table {
      width: 100%;
      border-collapse: collapse;

      td.empty {
        width: 50%;
      }

      ul {
        padding: 15px;
        margin: 10px;
        min-height: 85px;

        @include single-box-shadow;
        @include border-radius(5px);
        @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

        li {
          /*display: inline-block;*/
          /*margin-right: 30px;*/
          padding: 3px;
          height: 100%;

          &.name {
            font-family: "Lato-Black";
            font-size: 120%;
          }
          &.email {
            font-family: "Lato-Light";
            margin-left: 20px;
            font-size: 110%;ui-state-active

            a {
              text-decoration: none;
              color: inherit;
            }
          }
          &.room {
            margin-left: 20px;
          }
          &.photo {
            float: left;
            margin-right: 20px;

            img {
              height: 80px;
            }
          }
        }
      }
    }
  }

  #gcal {
    width: 100%;
    height: 100%;
  }
}

#content-sidebarright {
  width: $contentSidebarRightWidth;

  #event_create_fields {
    @include single-box-shadow;
    @include border-radius(10px);
    @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

    padding: 3%;
    margin: 2%;
    position: relative;
    padding-bottom: 60px;

    .field {
      margin-bottom: 3%;  

      label {
        font: {
          size: 120%;
          family: "Lato-Bold";
        };
      }

      input[type='text'], textarea {
        height: 32px;
        font-size: 14px;
        width: 50%;
        margin: 1%;
      }

      textarea {
        height: 100px;
      }
    }

    fieldset {
      padding: 20px;
      margin: 20px 0;
      width: 55%;
      position: relative;

      .field {
        input[type='text'] {
          width: 90%;
        }
      }

      .button_remove {
        $dim: 32px;
        position: absolute;
        right: 3px;
        top: 10px;
        width: $dim;
        height: $dim;
      }
    }

    input[type='submit'] {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}
