@font-face {
  font-family: "Sansation";
  src: url('/dorm_website/assets/css/fonts/sansation/Sansation_Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation-Light";
  src: url('/dorm_website/assets/css/fonts/sansation/Sansation_Light.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation-Bold";
  src: url('/dorm_website/assets/css/fonts/sansation/Sansation_Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Black";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Bold";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Hairline";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-HairlineItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Italic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Light";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Regular";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Regular.ttf') format('truetype');
}

/* line 58, ../sass/style.scss */
body {
  margin: 0;
  font-family: "Lato-Regular";
  font-size: 15px;
  overflow: hidden;
  background-color: #e3e3e3;
}

/* line 72, ../sass/style.scss */
#header {
  height: 60px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #990000), color-stop(100%, #641b1b));
  background-image: -webkit-linear-gradient(#990000, #641b1b);
  background-image: -moz-linear-gradient(#990000, #641b1b);
  background-image: -o-linear-gradient(#990000, #641b1b);
  background-image: -ms-linear-gradient(#990000, #641b1b);
  background-image: linear-gradient(#990000, #641b1b);
  font-family: "Sansation";
  position: relative;
}
/* line 79, ../sass/style.scss */
#header #logo {
  font-family: "Sansation-Bold";
  font-size: 40px;
  position: absolute;
  height: 60px;
  left: 30px;
}
/* line 86, ../sass/style.scss */
#header #logo a {
  height: 46px;
  padding-top: 14px;
  display: block;
  text-decoration: none;
  color: white;
}
/* line 95, ../sass/style.scss */
#header #links {
  /*margin: 50% 30px;*/
  right: 30px;
  font-size: 18px;
  position: absolute;
  height: 60px;
}
/* line 102, ../sass/style.scss */
#header #links li {
  display: inline-block;
  height: 38px;
}
/* line 106, ../sass/style.scss */
#header #links li a {
  height: 100%;
  display: block;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center left;
  /*margin: 20px 30px;*/
  padding: 22px 20px 0 50px;
  color: white;
  text-decoration: none;
}
/* line 119, ../sass/style.scss */
#header #links li a.calendar {
  background-image: url('/dorm_website/assets/img/common/header/calendar.png?1315955492');
}
/* line 122, ../sass/style.scss */
#header #links li a.people {
  background-image: url('/dorm_website/assets/img/common/header/people.png?1315959606');
}

/* line 130, ../sass/style.scss */
#main {
  overflow: hidden;
}

/* line 134, ../sass/style.scss */
#sidebar {
  height: 100%;
  width: 200px;
  float: left;
  background-color: #C5C5C5;
  border-right-style: solid;
  border-right-color: #B3B3B3;
  border-right-width: 2px;
}
/* line 149, ../sass/style.scss */
#sidebar .sidebar-box {
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
/* line 162, ../sass/style.scss */
#sidebar #user_search {
  padding-left: 5px;
  font-size: 14px;
  height: 25px;
  margin: 10px;
  width: 180px;
}
/* line 175, ../sass/style.scss */
#sidebar #navigation li {
  height: 45px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c5c5c5), color-stop(100%, #b7b7b7));
  background-image: -webkit-linear-gradient(#c5c5c5, #b7b7b7);
  background-image: -moz-linear-gradient(#c5c5c5, #b7b7b7);
  background-image: -o-linear-gradient(#c5c5c5, #b7b7b7);
  background-image: -ms-linear-gradient(#c5c5c5, #b7b7b7);
  background-image: linear-gradient(#c5c5c5, #b7b7b7);
}
/* line 179, ../sass/style.scss */
#sidebar #navigation li a {
  text-decoration: none;
  color: black;
  font-family: "Lato-Bold";
  font-size: 20px;
  display: block;
  height: 32.5px;
  margin-left: 8px;
  padding-top: 12.5px;
  padding-left: 26px;
  width: 100%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 202, ../sass/style.scss */
#sidebar #navigation li a.calendar {
  background-image: url('/dorm_website/assets/img/event/calendar.png?1315975166');
}
/* line 205, ../sass/style.scss */
#sidebar #navigation li a.event_list {
  background-image: url('/dorm_website/assets/img/event/event_list.png?1315975174');
  background-size: 15px 15px;
}
/* line 209, ../sass/style.scss */
#sidebar #navigation li a.event_create {
  background-image: url('/dorm_website/assets/img/event/event_create.png?1315976077');
  background-size: 16px 16px;
}

/* line 218, ../sass/style.scss */
#sidebar-right {
  width: 150px;
  height: 100%;
  float: right;
}

/* line 224, ../sass/style.scss */
#content {
  overflow-y: scroll;
  height: 100%;
}
/* line 228, ../sass/style.scss */
#content #user_directory_listing {
  padding: 10px;
}
/* line 231, ../sass/style.scss */
#content #user_directory_listing table {
  width: 100%;
  border-collapse: collapse;
}
/* line 235, ../sass/style.scss */
#content #user_directory_listing table td.empty {
  width: 50%;
}
/* line 239, ../sass/style.scss */
#content #user_directory_listing table ul {
  padding: 15px;
  margin: 10px;
  min-height: 85px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -moz-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -o-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -ms-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: linear-gradient(#f3f3f3, #e6e6e6);
}
/* line 248, ../sass/style.scss */
#content #user_directory_listing table ul li {
  /*display: inline-block;*/
  /*margin-right: 30px;*/
  padding: 3px;
  height: 100%;
}
/* line 254, ../sass/style.scss */
#content #user_directory_listing table ul li.name {
  font-family: "Lato-Black";
  font-size: 120%;
}
/* line 258, ../sass/style.scss */
#content #user_directory_listing table ul li.email {
  font-family: "Lato-Light";
  margin-left: 20px;
  font-size: 110%;
}
/* line 263, ../sass/style.scss */
#content #user_directory_listing table ul li.email a {
  text-decoration: none;
  color: inherit;
}
/* line 268, ../sass/style.scss */
#content #user_directory_listing table ul li.room {
  margin-left: 20px;
}
/* line 271, ../sass/style.scss */
#content #user_directory_listing table ul li.photo {
  float: left;
  margin-right: 20px;
}
/* line 275, ../sass/style.scss */
#content #user_directory_listing table ul li.photo img {
  height: 80px;
}
/* line 284, ../sass/style.scss */
#content #gcal {
  width: 100%;
  height: 100%;
}
