@font-face {
  font-family: "Sansation";
  src: url('/dorm_website/assets/css/fonts/sansation/Sansation_Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation-Light";
  src: url('/dorm_website/assets/css/fonts/sansation/Sansation_Light.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation-Bold";
  src: url('/dorm_website/assets/css/fonts/sansation/Sansation_Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Black";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Bold";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Hairline";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-HairlineItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Italic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Light";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Lato-Regular";
  src: url('/dorm_website/assets/css/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Chunkfive";
  src: url('/dorm_website/assets/css/fonts/Chunkfive.otf') format('opentype');
}

@font-face {
  font-family: "Freshman";
  src: url('/dorm_website/assets/css/fonts/Freshman.ttf') format('truetype');
}

/* line 74, ../sass/style.scss */
body {
  margin: 0;
  font-family: "Lato-Regular", "Lucida Grande";
  font-size: 14px;
  background-color: #e3e3e3;
}

/* line 81, ../sass/style.scss */
#header {
  z-index: 1000;
  -moz-box-shadow: black 0px 0px 12px;
  -webkit-box-shadow: black 0px 0px 12px;
  -o-box-shadow: black 0px 0px 12px;
  box-shadow: black 0px 0px 12px;
  height: 50px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #990000), color-stop(100%, #641b1b));
  background-image: -webkit-linear-gradient(#990000, #641b1b);
  background-image: -moz-linear-gradient(#990000, #641b1b);
  background-image: -o-linear-gradient(#990000, #641b1b);
  background-image: -ms-linear-gradient(#990000, #641b1b);
  background-image: linear-gradient(#990000, #641b1b);
  font-family: "Sansation";
  position: fixed;
  left: 0;
  top: 0;
}
/* line 94, ../sass/style.scss */
#header #logo {
  font-family: "Freshman";
  font-size: 33px;
  position: absolute;
  height: 30px;
  width: 202px;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 103, ../sass/style.scss */
#header #logo a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
  text-shadow: black 1px 1px 4px;
}
/* line 112, ../sass/style.scss */
#header #links {
  position: absolute;
  right: 30px;
  font-size: 120%;
  z-index: 100;
}
/* line 118, ../sass/style.scss */
#header #links .menu li {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  width: 150px;
}
/* line 124, ../sass/style.scss */
#header #links .menu li a {
  height: 32px;
  display: block;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 18px 20px 0 57px;
  color: white;
  text-decoration: none;
}
/* line 139, ../sass/style.scss */
#header #links .menu li.events .menuitem {
  background-image: url('/dorm_website/assets/img/common/header/calendar.png?1315955492');
}
/* line 142, ../sass/style.scss */
#header #links .menu li.people .menuitem {
  background-image: url('/dorm_website/assets/img/common/header/people.png?1315959606');
}
/* line 145, ../sass/style.scss */
#header #links .menu li.events.hover .menuitem, #header #links .menu li.people.hover .menuitem {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 150, ../sass/style.scss */
#header #links .menu li.wiki .menuitem {
  background-image: url('/dorm_website/assets/img/common/header/wiki.png?1316211301');
}
/* line 154, ../sass/style.scss */
#header #links .menu li.wiki .staff {
  background-image: url('/dorm_website/assets/img/common/header/wiki/staff.png?1316212120');
}
/* line 158, ../sass/style.scss */
#header #links .menu li.wiki .confi {
  background-image: url('/dorm_website/assets/img/common/header/wiki/confi.png?1316212125');
}
/* line 162, ../sass/style.scss */
#header #links .menu li.wiki .basecamp {
  background-image: url('/dorm_website/assets/img/common/header/wiki/basecamp.png?1316212452');
}
/* line 168, ../sass/style.scss */
#header #links .menu li.wiki .hover .staff {
  background-image: url('/dorm_website/assets/img/common/header/wiki/staff_hover.png?1316211454');
}
/* line 172, ../sass/style.scss */
#header #links .menu li.wiki .hover .confi {
  background-image: url('/dorm_website/assets/img/common/header/wiki/confi_hover.png?1316211598');
}
/* line 179, ../sass/style.scss */
#header #links .menu li .submenu {
  display: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#333333, #000000);
  background-image: -moz-linear-gradient(#333333, #000000);
  background-image: -o-linear-gradient(#333333, #000000);
  background-image: -ms-linear-gradient(#333333, #000000);
  background-image: linear-gradient(#333333, #000000);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  font-size: 90%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 190, ../sass/style.scss */
#header #links .menu li .submenu li {
  display: list-item;
}
/* line 193, ../sass/style.scss */
#header #links .menu li .submenu li a {
  margin: 0;
  padding: 14px 0 5px 49px;
  color: white;
  height: 20px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 15px center;
}
/* line 206, ../sass/style.scss */
#header #links .menu li .submenu li a.event_list {
  background-image: url('/dorm_website/assets/img/common/header/event/event_list.png?1316113831');
}
/* line 210, ../sass/style.scss */
#header #links .menu li .submenu li a.event_create {
  background-image: url('/dorm_website/assets/img/common/header/event/event_create.png?1316113831');
}
/* line 214, ../sass/style.scss */
#header #links .menu li .submenu li a.calendar {
  background-image: url('/dorm_website/assets/img/common/header/event/calendar.png?1316113831');
}
/* line 220, ../sass/style.scss */
#header #links .menu li .submenu li.hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(#cccccc, #777777);
  background-image: -moz-linear-gradient(#cccccc, #777777);
  background-image: -o-linear-gradient(#cccccc, #777777);
  background-image: -ms-linear-gradient(#cccccc, #777777);
  background-image: linear-gradient(#cccccc, #777777);
  background-size: 100% 100%;
  background-position: 0 0;
}
/* line 227, ../sass/style.scss */
#header #links .menu li .submenu li.hover a {
  color: black;
}
/* line 230, ../sass/style.scss */
#header #links .menu li .submenu li.hover a.event_list {
  background-image: url('/dorm_website/assets/img/common/header/event/event_list_hover.png?1316113831');
}
/* line 234, ../sass/style.scss */
#header #links .menu li .submenu li.hover a.event_create {
  background-image: url('/dorm_website/assets/img/common/header/event/event_create_hover.png?1316113831');
}
/* line 238, ../sass/style.scss */
#header #links .menu li .submenu li.hover a.calendar {
  background-image: url('/dorm_website/assets/img/common/header/event/calendar_hover.png?1316113831');
}

/* line 251, ../sass/style.scss */
#sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 50px;
  font-size: 110%;
  background-color: #c5c5c5;
  border-right-style: solid;
  border-right-color: #B3B3B3;
  border-right-width: 2px;
}
/* line 271, ../sass/style.scss */
#sidebar .sidebar-box-wrapper {
  margin: 20px 0;
}
/* line 272, ../sass/style.scss */
#sidebar .sidebar-box-wrapper .label {
  font-size: 100%;
  font-family: "Lato-Black";
  margin: 15px 0 10px 10px;
}
/* line 282, ../sass/style.scss */
#sidebar .sidebar-box, #sidebar #user_search, #sidebar #search {
  margin: 5px 5px 10px 5px;
  padding: 5px;
  width: 175px;
  font-size: 100%;
}
/* line 289, ../sass/style.scss */
#sidebar .sidebar-box {
  background: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 299, ../sass/style.scss */
#sidebar .sidebar-box .sort_by .ui-button-text {
  text-align: left;
  padding-left: 20px;
}
/* line 307, ../sass/style.scss */
#sidebar #user_search, #sidebar #search {
  height: 32px;
  width: 94%;
  margin-top: 15px;
}
/* line 314, ../sass/style.scss */
#sidebar #checkboxes_house label, #sidebar #checkboxes_floor label {
  margin: 5px;
}
/* line 323, ../sass/style.scss */
#sidebar #navigation li a {
  font-family: "Lato-Bold";
  font-size: 115%;
  text-align: left;
  width: 92%;
  padding: 2%;
  margin: 2%;
}
/* line 336, ../sass/style.scss */
#sidebar .ui-button {
  width: 94%;
  margin: 3%;
  font-size: 90%;
}

/* line 343, ../sass/style.scss */
#content {
  margin-left: 200px;
  margin-top: 50px;
  padding: 20px;
}
/* line 348, ../sass/style.scss */
#content.nosidebar {
  margin-left: 0px;
}
/* line 351, ../sass/style.scss */
#content.nopadding {
  padding: 0px;
}
/* line 356, ../sass/style.scss */
#content #user_directory_listing table {
  width: 100%;
  border-collapse: collapse;
}
/* line 360, ../sass/style.scss */
#content #user_directory_listing table td.empty {
  width: 50%;
}
/* line 364, ../sass/style.scss */
#content #user_directory_listing table ul {
  padding: 15px;
  margin: 10px;
  min-height: 125px;
  position: relative;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -moz-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -o-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -ms-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: linear-gradient(#f3f3f3, #e6e6e6);
}
/* line 374, ../sass/style.scss */
#content #user_directory_listing table ul li {
  padding: 3px;
  line-height: 1.1em;
}
/* line 378, ../sass/style.scss */
#content #user_directory_listing table ul li.name {
  font-family: "Lato-Black";
  font-size: 120%;
}
/* line 382, ../sass/style.scss */
#content #user_directory_listing table ul li.email {
  font-family: "Lato-Light";
  font-size: 110%;
}
/* line 386, ../sass/style.scss */
#content #user_directory_listing table ul li.email a {
  text-decoration: none;
  color: inherit;
}
/* line 391, ../sass/style.scss */
#content #user_directory_listing table ul li.photo {
  float: left;
  margin-right: 25px;
}
/* line 395, ../sass/style.scss */
#content #user_directory_listing table ul li.photo img {
  height: 120px;
}
/* line 399, ../sass/style.scss */
#content #user_directory_listing table ul li.staff_role {
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: "Lato-Black";
  font-size: 175%;
  height: 32px;
  padding-right: 40px;
  background-image: url('/dorm_website/assets/img/people/heart.png?1316243191');
  background-repeat: no-repeat;
  background-position: right 3px;
}
/* line 418, ../sass/style.scss */
#content #gcal {
  width: 100%;
  height: 90%;
}
/* line 424, ../sass/style.scss */
#content #event_create_fields, #content #event_view, #content #event_sign_ups {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -moz-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -o-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -ms-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: linear-gradient(#f3f3f3, #e6e6e6);
  padding: 20px 30px;
}
/* line 431, ../sass/style.scss */
#content #event_create_fields {
  position: relative;
  padding-bottom: 60px;
}
/* line 435, ../sass/style.scss */
#content #event_create_fields .field {
  margin-bottom: 3%;
}
/* line 438, ../sass/style.scss */
#content #event_create_fields .field label {
  font-size: 120%;
  font-family: "Lato-Bold";
}
/* line 445, ../sass/style.scss */
#content #event_create_fields .field input[type='text'], #content #event_create_fields .field textarea {
  height: 32px;
  font-size: 14px;
  width: 50%;
  margin: 1%;
}
/* line 452, ../sass/style.scss */
#content #event_create_fields .field textarea {
  height: 100px;
}
/* line 457, ../sass/style.scss */
#content #event_create_fields fieldset {
  padding: 20px;
  margin: 20px 0;
  width: 55%;
  position: relative;
}
/* line 464, ../sass/style.scss */
#content #event_create_fields fieldset .field input[type='text'] {
  width: 90%;
}
/* line 469, ../sass/style.scss */
#content #event_create_fields fieldset .button_remove {
  position: absolute;
  right: 3px;
  top: 10px;
  width: 32px;
  height: 32px;
}
/* line 479, ../sass/style.scss */
#content #event_create_fields input[type='submit'] {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 487, ../sass/style.scss */
#content #event_list .item {
  padding: 20px;
  margin-bottom: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -moz-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -o-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: -ms-linear-gradient(#f3f3f3, #e6e6e6);
  background-image: linear-gradient(#f3f3f3, #e6e6e6);
}
/* line 494, ../sass/style.scss */
#content #event_list .item h1 {
  font-family: "Lato-Black";
  font-size: 150%;
  margin-bottom: 15px;
}
/* line 500, ../sass/style.scss */
#content #event_list .item .time {
  margin-bottom: 15px;
  font-size: 110%;
  font-family: "Lato-Bold";
}
/* line 509, ../sass/style.scss */
#content #event_view .title {
  font-family: "Lato-Black";
  font-size: 300%;
  margin-bottom: 30px;
}
/* line 516, ../sass/style.scss */
#content #event_view .time {
  font-family: "Lato-Bold";
  font-size: 125%;
  margin-bottom: 30px;
}
/* line 523, ../sass/style.scss */
#content #event_view .description {
  margin: 30px;
  font-size: 110%;
}
/* line 528, ../sass/style.scss */
#content #event_view .fields ul {
  margin: 10px 0;
}
/* line 531, ../sass/style.scss */
#content #event_view .fields .label {
  font-size: 120%;
  font-family: "Lato-Bold";
  margin: 25px 10px 15px 10px;
  padding: 5px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #c5c5c5;
  width: 50%;
}
/* line 543, ../sass/style.scss */
#content #event_view .fields .value {
  font-size: 110%;
  margin: 5px 20px;
}
/* line 551, ../sass/style.scss */
#content #event_sign_ups table {
  width: 100%;
}
/* line 555, ../sass/style.scss */
#content #event_sign_ups th, #content #event_sign_ups td {
  padding: 10px;
}
/* line 559, ../sass/style.scss */
#content #event_sign_ups th.sortable {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}
/* line 564, ../sass/style.scss */
#content #event_sign_ups th.sortable:hover {
  color: black;
}
/* line 567, ../sass/style.scss */
#content #event_sign_ups th.sorted-asc, #content #event_sign_ups th.sorted-desc {
  color: black;
}
/* line 571, ../sass/style.scss */
#content #event_sign_ups td {
  background-color: white;
  color: #111;
}
/* line 575, ../sass/style.scss */
#content #event_sign_ups td.odd {
  background-color: #666;
  color: white;
}
/* line 580, ../sass/style.scss */
#content #event_sign_ups td.hovered {
  background-color: #598CCD;
  color: #000;
}

/* line 587, ../sass/style.scss */
.event_create_sign_up_wizard {
  font-family: "Lato-Regular";
}
/* line 590, ../sass/style.scss */
.event_create_sign_up_wizard .ui-dialog-title {
  font-family: "Lato-Bold";
}
/* line 594, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create {
  float: left;
  width: 500px;
  height: 450px;
  overflow-y: scroll;
}
/* line 600, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create fieldset {
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 0 10px;
}
/* line 606, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create fieldset legend {
  font-size: 90%;
}
/* line 610, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create fieldset input[type='text'], .event_create_sign_up_wizard #sign_up_form_create fieldset textarea {
  width: 80%;
}
/* line 614, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create fieldset .label {
  font-size: 80%;
  font-family: "Lato-Bold";
  margin: 10px 5px 5px 5px;
}
/* line 622, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create fieldset .field {
  margin-top: 15px;
}
/* line 626, ../sass/style.scss */
.event_create_sign_up_wizard #sign_up_form_create fieldset .button_remove {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 5px;
}
/* line 636, ../sass/style.scss */
.event_create_sign_up_wizard .sign_up_form_builder_buttons_container {
  float: right;
  width: 150px;
  font-size: 85%;
}
/* line 643, ../sass/style.scss */
.event_create_sign_up_wizard .sign_up_form_builder_buttons_container button {
  width: 100%;
}

/* line 650, ../sass/style.scss */
.sign_up_form_render form {
  height: 400px;
  overflow-y: scroll;
}
/* line 655, ../sass/style.scss */
.sign_up_form_render input[type='text'], .sign_up_form_render textarea {
  width: 80%;
}
/* line 659, ../sass/style.scss */
.sign_up_form_render fieldset {
  margin: 0px 10px 10px 5px;
}
/* line 662, ../sass/style.scss */
.sign_up_form_render fieldset .text {
  font-family: "Lato-Bold";
  font-size: 110%;
  margin: 5px;
}
/* line 670, ../sass/style.scss */
.sign_up_form_render fieldset .help {
  font-family: "Lato-Regular";
  font-size: 90%;
  margin: 5px 10px 10px 10px;
}

/* line 682, ../sass/style.scss */
#welcome #logo {
  height: 37%;
  padding-top: 5%;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #990000), color-stop(100%, #3f0f10));
  background-image: -webkit-linear-gradient(#990000, #3f0f10);
  background-image: -moz-linear-gradient(#990000, #3f0f10);
  background-image: -o-linear-gradient(#990000, #3f0f10);
  background-image: -ms-linear-gradient(#990000, #3f0f10);
  background-image: linear-gradient(#990000, #3f0f10);
  color: white;
  text-shadow: black 5px 5px 25px;
  font-size: 95px;
  font-variant: small-caps;
  font-family: "Freshman";
  overflow: hidden;
}
/* line 697, ../sass/style.scss */
#welcome #photos {
  text-align: center;
  height: 60px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#222222, #000000);
  background-image: -moz-linear-gradient(#222222, #000000);
  background-image: -o-linear-gradient(#222222, #000000);
  background-image: -ms-linear-gradient(#222222, #000000);
  background-image: linear-gradient(#222222, #000000);
  overflow: hidden;
}
/* line 705, ../sass/style.scss */
#welcome #photos img {
  height: 100%;
  margin: 0 15px;
}
/* line 711, ../sass/style.scss */
#welcome #login {
  text-align: center;
}
/* line 714, ../sass/style.scss */
#welcome #login button {
  margin-top: 100px;
  font-size: 30px;
}
