.content_inner {
  margin-top: 50px;

  @include rounded_box(30px, 30px);

  .text, .image {
    display: inline-block;
    /*height: 100%;*/
  }

  .image {
    width: 320px;
    margin: 10px 40px 10px 10px;
    text-align: center;
    vertical-align: top;

    img {
      width: 85%;
    }
  }

  .text {
    width: 500px;

    .header {
      font: {
        family: "YanoneKaffeesatz-Bold";
        size: 90px;
      };
      margin-bottom: 30px;
    }
    .content {
      font: {
        family: "Lato-Light";
        size: 20  px;
      };
      line-height: 1.3;
    }
    .footer {
      margin-top: 30px;
      font: {
        family: "YanoneKaffeesatz-Regular";
        size: 44px;
      };
    }
  }
}
