#container {
  //@include showgrid;
  @include container;
}

#content {
  @include column(19, true);

  &.nosidebar {
    @include column(24, true);
  }

  .heading {
    font-size: 200%;
    font-weight: bold;
    @include text-shadow(#fff 1px 1px 1px);

    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px dashed #BBB;
  }

  @import "user_directory_listing";
  @import "event";

  .gcal {
    width: span(24);
    //TODO make height exact
    height: 600px;
    margin-bottom: 60px;
  }
}
