.event_create_sign_up_wizard {
  font-family: "Lato-Regular";

  .ui-dialog-title {
    font-family: "Lato-Bold";
  }

  #sign_up_form_create {
    float: left;
    width: 500px;
    height: 450px;
    overflow-y: scroll;

    fieldset {
      position: relative;
      margin-bottom: 10px;
      margin-right: 5px;
      padding: 0 10px;

      legend {
        font-size: 90%;
      }

      input[type='text'], textarea {
        width: 80%;
      }

      .label {
        font: {
          size: 80%;
          family: "Lato-Bold";
        };
        margin: 10px 5px 5px 5px;
      }

      .field {
        margin-top: 15px;
      }

      .button_remove {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 10px;
        right: 5px;
      }
    }
  }

  .sign_up_form_builder_buttons_container {
    float: right;
    width: 150px;
    font: {
      size: 85%;
    };

    button {
      width: 100%;
    }
  }
}
