#sidebar {
  @include column(4);
  @include colborder(#B3B3B3, 1px);

  $marginButton: 3%;

  //position: fixed;
  //height: 100%;

  .sidebar-box-wrapper {
    .label {
      font:{
        size: 100%;
        family: "Lato-Black";
      };
      margin: 15px 0 10px 10px;
    }
    margin: 20px 0;
  }

  .sidebar-box, #user_search, #search {
    margin: 5px 0px 10px 0px;
    padding: 5px;
    font-size: 100%;
  }

  fieldset {
    margin: 20px 0;
  }

    .sort_by {
      .ui-button-text {
        text-align: left;
        padding-left: 20px;
      }

  }

  #user_search, #search {
    height: 32px;
    width: 100%;
    margin-top: 15px;
  }

  #checkboxes_house, #checkboxes_floor {
    label {
      margin: 5px;
    }
  }

  #navigation {
    $navItemFontSize: 115%;

    li {
      a {
        font: {
          family: "Lato-Bold";
          size: $navItemFontSize;
        };
        text-align: left;
        width: 92%;
        padding: 2%;
        margin: 2%;
      }
    }
  }

  .ui-button {
    width: 100% - $marginButton*2;
    margin: $marginButton;
    font-size: 90%;
  }
}
