#user_directory_listing {
  @include append(1);

  ul {
    padding: 15px;
    margin: 10px 0;

    min-height: 125px;
    position: relative;

    @include single-box-shadow;
    @include background-image(linear-gradient(#F3F3F3, #E6E6E6));

    li {
      padding: 3px;
      line-height: 1.2em;

      &.name {
        font-weight: bold;
        font-size: 120%;
      }
      &.email {
        font-size: 110%;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
      &.photo {
        float: left;
        margin-right: 25px;

        img {
          height: 120px;
        }
      }

      &.staff_role {
        position: absolute;
        top: 10px;
        right: 12px;

        font-weight: bold;
        font-size: 125%;
        text-align: right;

        &.small_text {
          font-size: 110%;
        }
      }
    }
  }
}
